{% extends '/templates/base.html.twig' %}

{% block icon %}
    <a onclick="changeFormat('day')" href="#">
        <img id="icon" alt="changeFormat" class="changeFormat" src="/assets/img/calendar_view_day.svg"></img>
    </a>
{% endblock %}
{% block nav %}
    <a href="/logout">
        <img id="icon" alt="logout" class="logout" src="/assets/img/logout.svg"></img>
    </a>
{% endblock %}
{% block container %}
<div id="Title" class="maincontent">
    <div>
        <h1>Heureux de te revoir {{username}}👋</h1>
        <p><i> <b>Groupe TP</b> n°{{tp}} </i>|<i> <b>Groupe TD </b>n°{{ td }}</i></p>
        <select id="selectFormat" onChange="changeFormat(this.value)" class="selectFormat">
            <option value="week" selected="">Semaine</option>
            <option value="day">Jour</option>
        </select>
    </div>
    <div id="Settings" class="maincontent">
        {% if chrome == 1 %}
            <input onchange="loadEdt(this.value)" value="{{ weekVal }}" type="week" name="week" id="camp-week" min="'.{{ year }}.'-W33" max="'.{{ year+1 }}.'-W30" required>
        {% else %}
            <select onchange="loadEdt(this.value)" class="week" name="semaine">
                {% for opt in options %}
                    {% if opt[1] == (week-33) %}
                        <option selected='selected' value="{{ opt[1] }}">{{ opt[0] }}</option>
                    {% else %}
                        <option value="{{ opt[1] }}">{{ opt[0] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        {% endif %}
        <div class="contenthead-button">
            <a class="basebutton" id="previus" href="#">Précedent</a>
            <a class="basebutton" onclick="loadEdt({{ week }})" href="#">Actuelle</a>
            <a class="basebutton" id="next" href="#">Suivant</a>
        </div>
    </div>
</div>
<div class="center" id="edtContainer">

</div>
<div class="maincontent center">
    <div>
        {% if classId == ""%}
            <p>Vous avez un doute sur les cours affichés ? <br> Regardez l'emploi du temps global de votre classe <a href="/edt?classId=2278">ici</a></p>
        {% else %}
            <p> <a href="/edt"> Retour à l'emploi du temps part groupe. </a> </p>
        {% endif %}
    </div>
    {% if android == true %}
        <a href="http://www.google.com/calendar/render?cid=http%3A%2F%2Fwww.univ-orleans.fr%2FEDTWeb%2Fexport%3Fproject%3D2022-2023%26resources%3D2278%26type%3Dical">Ajouter à Google Agenda</a>
    {% else %}
        <a href="http://www.univ-orleans.fr/EDTWeb/export?project=2022-2023&resources=2278&type=ical">Exporter l'iCal</a>
    {% endif %}
</div>
{% endblock %}
{% block javascript %}
<script type="application/javascript">
    function changeFormat(format){
        if(format == "week"){
            document.location.href = "/edt";
        }
        else if(format == "day"){
            document.location.href = "/edt/today";
        }
    }

    function loadEdt(week){
        document.getElementById("next").onclick = function() {loadEdt(week+1);};
        document.getElementById("previus").onclick = function() {loadEdt(week-1);};
        currentWeek = week;
        var pWeek = week;
        if(week.toString().includes('W'))
        {
            week = week.toString().split('W')[1];
        }
        if(week > 33) {
            week -=33;
        }
        var height = document.documentElement.clientHeight;
        var width = document.documentElement.clientWidth;
        if(width<height) width = height;
        document.getElementById("edtContainer").innerHTML = `<img class="edt" alt="En temps normal, il y a l'Emploi du temps ici." src="https://aderead.univ-orleans.fr/jsp/imageEt?identifier={{ identifier }}&projectId=3&idPianoWeek=${week}&idPianoDay=0%2C1%2C2%2C3%2C4&idTree={% if classId != ""%}{{ classId }}{% else %}{{ groupId }}{% endif %}&width=${width}&height=${height}&lunchName=REPAS&displayMode=1057855&showLoad=false&ttl=1662920359936&displayConfId=169"></img>`;
    }

    loadEdt({{ week }});
</script>
{% endblock %}