{% extends '/templates/base.html.twig' %}

{% block icon %}
    <a id="changeFormat" onclick="changeFormat('week')" href="#">
        <img id="icon" class="changeFormat" src="/assets/img/calendar_view_week.svg"></img>
    </a>
{% endblock %}

{% block nav %}
    <a href="/logout">
        <img id="icon" class="logout" src="/assets/img/logout.svg"></img>
    </a>
{% endblock %}
{% block container %}
    <div class="maincontent">
        <div id="Title">
            <div>
                <h1>📅 Aujourd'hui :</h1>
                <p><i> <b>Groupe TP</b> n°{{tp}} </i>|<i> <b>Groupe TD </b>n°{{ td }}</i></p>
            </div>
            <div class="contenthead-button">
                <a class="basebutton" id="previus" href="#">Précedent</a>
                <a class="basebutton" onclick="loadEdt({{ week }}, {{ today }})" href="#">Aujourd'hui</a>
                <a class="basebutton" id="next" href="#">Suivant</a>
            </div>
        </div>
        <div class="center" id="edtContainer">
        </div>
        <div class="maincontent center">
            {% if classId == ""%}
                <p>Vous avez un doute sur les cours affichés ? <br> Regardez l'emploi du temps global de votre classe <a href="/edt/today?classId=2278">ici</a></p>
            {% else %}
                <p> <a href="/edt/today"> Retour à l'emploi du temps par groupe. </a> </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script type="application/javascript">
    function changeFormat(format){
        if(format == "week"){
            document.location.href = "/edt";
        }
        else if(format == "day"){
            document.location.href = "/edt/today";
        }
    }
    
    function loadEdt(week, day){
        if(day > 0){
            document.getElementById("previus").onclick = function() {loadEdt(week, day-1);};
        } else {
            document.getElementById("previus").onclick = function() {loadEdt(week-1, 4);};
        }
        if(day < 4) {
            document.getElementById("next").onclick = function() {loadEdt(week, day+1);};
            
        } else {
            document.getElementById("next").onclick = function() {loadEdt(week+1, 0);};
        }
        if(week.toString().includes('W'))
        {
            week = week.toString().split('W')[1];
        }
        if(week > 33) {
            week -=33;
        }
        var date = new Date();
        if(date.getDay() == 6 || date.getDay() == 0){
            week += 1;
        }
        var height = document.documentElement.clientHeight;
        var width = document.documentElement.clientWidth;
        var today = day;
        if(width<height) width = height;
        document.getElementById("edtContainer").innerHTML = `<img class="edt" alt="En temps normal, il y a l'Emploi du temps ici." src="https://aderead.univ-orleans.fr/jsp/imageEt?identifier={{ identifier }}&projectId=3&idPianoWeek=${week}&idPianoDay=${today}&idTree={% if classId != ""%}{{ classId }}{% else %}{{ groupId }}{% endif %}&width=${width}&height=${height}&lunchName=REPAS&displayMode=1057855&showLoad=false&ttl=1662920359936&displayConfId=169"></img>`;
    }

    loadEdt({{ week }}, {{ today }});
</script>
{% endblock %}